################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
!/.vs/msvc/
/bin/*
/objs/*
